.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 10px;
    background-color: #CACACA;
    border-radius: 5px;
  }
  
  .display {
    background-color: #FFFFFF;
    padding: 10px;
    text-align: right;
    font-size: 24px;
    background-color: #AAAAFF;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    background-color: #00AAF0;
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #AAAAFF;
  }
  